<!DOCTYPE html>
<html>
<head>
  <title>Nippo core</title>
  <%= stylesheet_link_tag    "nippo_core/application", media: "all" %>
  <%= javascript_include_tag "nippo_core/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
